@using MyBooknote.Entities

@*@model List<Comment>*@


<div class="media">
    @*<img class="mr-3" src="https://picsum.photos/id/13/64/64" alt="Generic placeholder image">*@
    <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        <div>
            <span>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span><br />                                                                                          <span class="pull-right">
                <button type="button" class="btn-warning small">
                    <span class="fa fa-edit"></span>
                </button>
                <button type="button" class="btn-danger small">
                    <span class="fa fa-trash"></span>
                </button>
            </span>
            <small>
                <span class="fa fa-clock-o"></span> 12.07.2020 &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="fa fa-user-circle-o"></span> serdar
            </small>
        </div>
    </div>
</div>
