
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            @Html.Partial("_PartialCategories")
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            <div class="row">
                <div style="margin-top:60px">
                    <h3>about page</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet, magna nec pharetra gravida, arcu nunc semper massa, sit amet porta lacus ante id massa. Phasellus vitae nunc mollis lorem elementum convallis. Pellentesque eget convallis metus. Suspendisse sapien metus, euismod eget mattis ut, ullamcorper in massa. Pellentesque nisi lectus, euismod vel ullamcorper vitae, porttitor viverra risus. Nullam maximus mi id arcu vehicula aliquam. Ut dictum quis magna et condimentum. Aliquam orci ligula, volutpat id dui sed, ultrices cursus enim. Nam dignissim ut mi ut ornare. Morbi ultrices velit laoreet, interdum ipsum sit amet, pharetra ante. Aenean vitae turpis id tellus lobortis blandit quis quis ligula.</p>
                    <p>Morbi ipsum magna, scelerisque eu facilisis non, tempus a mauris. Praesent vel lacus a neque rhoncus aliquam sit amet non leo. Sed vulputate lorem non maximus tristique. Pellentesque dapibus, enim quis sollicitudin tristique, sem mauris tempor orci, a varius enim metus mollis eros. Pellentesque dapibus est euismod dui vehicula, vel posuere metus sodales. Cras nec rutrum odio. Aliquam varius magna condimentum ullamcorper sollicitudin. Maecenas et eleifend eros. Aenean ac felis eget arcu tristique pretium. Ut laoreet laoreet volutpat. Aenean vel nunc felis. Phasellus commodo ut magna et venenatis. Duis eu lacinia turpis. Vivamus blandit ipsum vel lectus congue placerat. Sed felis nunc, facilisis sit amet congue bibendum, placerat ac neque.</p>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>

